#parent {
    position: relative;
}

#left {
    position: absolute;
    left: 0;
    width: 480px;
    /* background: red; */
    height: 100vh;
    text-align: center;
}

#right {
    position: absolute;
    left: 500px;
    right: 0;
    /* background: blue; */
    height: 100vh;
    
}

#uploadContainer {
    border: 2px #ddd dashed;
    border-radius: 20px;
    width: 400px;
    height: 100px;
    margin: 20px;
    margin-top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#file {
    /* padding: 40px 30px; */
}
#upload_button { position: relative; width:210px; height:90px; margin-left: 17px; background-image: url("../images/button_status.png");background-repeat:no-repeat;  }
#btnUpload{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 130px;
    height:65px;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: #ddd;
    text-shadow: 3px;
}

/* th,
tr,
td {
    text-align: center;
}

table th,
.f-progress,
.f-size {
    white-space: nowrap;
}*/

.f-name {
  width: 500px;
} 